<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>About</title>
</head>
<body>
    <h1>Contact Information</h1>
    <p>Name: Gowripriya A R</p>
    <p>Email: gowriammu123@gmail.com</p>
    <p>Phone: 623849xxx8</p>
    <a href="file:///C:/Users/SOFTECH/OneDrive/Desktop/Flaskapp/templates/home.html">Home</a>
</body>
</html>
